@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

nav {
  justify-content: center;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  height: 150px;
  align-items: center;
}
nav .box {
  background-color: red;
}
nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45;
  height: 100%;
  width: 20%;
}
nav .logo p {
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  height: 00%;
  width: 70%;
  background-color: red;
}
nav li {
  list-style: none;
  color: black;
  text-decoration: none;
}
nav li a {
  color: #738dab;
  text-decoration: none;
  padding: 3px;
  font-size: 30px;
  font-weight: 500;
}

nav li:hover {
  box-shadow: 0 5px 0 #0083ff;
  color: #0083ff;
}
nav li a:hover {
  color: #0083ff;
}
